
.QMainWindow {
	font-family: Georgia;
	font-size: 10pt;
	color: #fdf6e3;
	background-color: rgb(80, 80, 80);
}

.QComboBox, .QListView, .QPushButton, .QSpinBox, .QLabel, .QWidget, .QDialog {
	font-family: Georgia;
	font-size: 10pt;
	color: #fdf6e3;
	background-color: rgb(80, 80, 80);
	padding: 1px 0px 1px 3px;
	selection-color: rgb(80, 80, 80);
	selection-background-color: #fdf6e3;
}

.QComboBox::drop-down {
	width: 20px;
	border: 3px;
	color: #fdf6e3 ;
	background-color: rgb(80, 80, 80);
	border-color: rgb(0, 0, 0);
	border-left-style:solid;
	border-top-style: none;
	border-bottom-style: none;
	border-right-style: none;
}

.QComboBox::down-arrow {
	color: white;
	image:url(Images/da1.png);
	width: 18px;
	height: 18px;
}

.QComboBox QListView
{
	border: 3px;
	border-color: rgb(0, 0, 0);
	
	background-color: rgb(80, 80, 80);
	color: #fdf6e3;
    border-style: none;
}

.QTabWidget {
	font-family: Georgia;
	font-size: 8pt;
	border-color: #fdf6e3 ;
	color: #fdf6e3 ;
	background-color: rgb(80, 80, 80);		
}

.QMessageBox {
	font-family: Georgia;
	font-size: 10pt;
	border-color: #fdf6e3 ;
	color: #fdf6e3;
	background-color: rgb(80, 80, 80);		
}

.QStatusBar {
	font-family: Georgia;
	font-size: 8pt;
	font-style: oblique;
	color: #fdf6e3;
	background: rgb(80, 80, 80);
}